$headerFont: 'Poppins',
sans-serif;
$textFont: 'Rubik',
sans-serif;
$inpuBoxBg: rgba(255, 251, 251, 0.731);
$infoBoxBg: rgba(255, 251, 251, 0.731);
$infoBoxTextColor: #000000;
$errorBg:#ac2f2f;
$errorFontColor:#fff;
$iconColor:#fff;